html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* code begins*/


@font-face{
	font-family: cv;
	src:url('droid_logo_bold.ttf');
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background-color:green;
	
} 

header{
	width:100%;
	height: 200px;
	background-image: url(mystery.png);
	
}
header img {
	margin-top: 20px;
	margin-left: 10px;
	float: left;
}
a {
	color: #000;
	text-decoration: none;
}
header nav {
	float: right;
}
header nav ul {
	margin-top: 100px;
}

header nav ul li {
	display:inline-block;
	margin-left:20px;
	list-style: none;
}

header nav ul li a {
	font-family: cv;
	font-size: 20px;
	font-style: italic;
	color: #fff;
}
	
	
	/* ----footer begins----*/
	footer{
		width:100%;
		background-color: #222;
		padding:60px 0px

	}
	footer nav {
	float: left;
}
footer nav ul {
	margin-top: 0px;
}

footer nav ul li {
	display:inline-block;
	margin-left:20px;
	list-style: none;
}

footer nav ul li a {
	font-family: cv;
	font-size: 18px;
	font-style: italic;
	color:#fff;
}

.gallery-box {
	overflow: hidden;
	padding: 80px 0px;
	background-image: url(hole.png);
}
.img-single {
	width: 220px;
	height: 110px;
	float: right;
	margin: 5px 5px;
	position: relative;
	
}
.img-double {
	width:293px;
	height:150px;
	float: right;
	margin: 5px 5px;
	position: relative;
}
.img-single img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	
	
	
}

.img-single:hover {
	z-index: 1000;
}
.img-single img:hover {
	width:120%;
	height: 120%;
	position: absolute;
	top: -10%;
	right: 0px;
	left: -10%;
	bottom: 0px;
}

.img-double img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	
	
	
}

.img-double:hover {
	z-index: 1000;
}
.img-double img:hover {
	width:120%;
	height: 120%;
	position: absolute;
	top: -10%;
	right: 0px;
	left: -10%;
	bottom: 0px;
}





/* making website responsive on all */


 
@media (max-width: 980px){

.wrapper {
	width: 90%;
	margin: 0 auto;
	background-color:green;
	/* margin: 0 auto 0 auto 
	This is exactly same as above line */
} 

header{
	width:100%;
	height: 200px;
	background-image: url(mystery.png);
	
}
header img {
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	width: 35%;
	height:140px;
}


a {
	color: #000;
	text-decoration: none;
}
header nav {
	float: right;
	
}
header nav ul {
	margin-top: 50px;
	
}

header nav ul li {
	display:block;
	margin-top:5px;
	list-style: none;
}

header nav ul li a {
	font-family: cv;
	font-size: 20px;
	font-style: italic;
	color: #fff;
}


.gallery-box {
	overflow: hidden;
	padding: 80px 0px;
	background-image: url(hole.png);
}
.img-single {
	width: 90%;
	height: 220px;
	float: bottom;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 5px;
	position: relative;
	
}
.img-double {
	width:90%;
	height:290px;
	float: bottom;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 5px;
	position: relative;
}
.img-single img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	
	
	
}

.img-single:hover {
	z-index: 1000;
}
.img-single img:hover {
	width:110%;
	height: 110%;
	position: absolute;
	top: -5%;
	right: 0px;
	left: -5%;
	bottom: 0px;
}

.img-double img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	
	
	
}

.img-double:hover {
	z-index: 1000;
}
.img-double img:hover {
	width:110%;
	height: 110%;
	position: absolute;
	top: -5%;
	right: 0px;
	left: -5%;
	bottom: 0px;
}
}
		
	
	
	
	


